<%= form_with(model: [@usuario, @copenometro], local: true) do |form| %>
  <% if @copenometro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@copenometro.errors.count, "error") %> prohibited this copenometro from being saved:</h2>

      <ul>
      <% copenometro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-group">
    <%= form.label :liquido %>
    <%= form.text_field :liquido, id: :copenometro_liquido, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label "ml de destilado" %>
    <%= form.number_field :ml, id: :copenometro_ml, class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :grado %>
    <%= form.number_field :Grados2, id: :copenometro_Grados2, step: :any, class: "form-control"  %>
  </div>


  <input type="hidden" name="Ga" value="10">

  <div class="actions">
      <%= form.submit "Agregar copete",  class: "btn btn-success" %>
  </div>
<% end %>
