
<table>
	<thead class="table">
		<tr>
			<th>Liquido</th>
			<th>Ml</th>
			<th>Grado</th>
			<th>G de Alcohol</th>
		</tr>
	</thead>

	<tbody>
		<% @copenomotro_lista.each do |copenometro| %>
			<tr>
				<td><%= copenometro.liquido %></td>
				<td><%= copenometro.ml %></td>
				<input type="hidden" name="liquido[<%= copenometro.liquido %>][cantidad]" value="<%= copenometro.ml %>">
				<td><%= copenometro.Grados2 %></td>
				<td><%= copenometro.calculo %></td>	
				<input type="hidden" name="liquido[<%= copenometro.liquido %>][grado]" value="<%= copenometro.Grados2 %>">
			</tr></br>
		<% end %>
	</tbody>
</table>

<p>Cantidad total de ML: <%= @sum_cantidad %></p>
<p>Total de Grados : <%= @sum_grados %></p>
<p>Total Gramos de Alcohol:<%=  @sum_gramos %></p>