<p id="notice"><%= notice %></p>

<p>
  <strong>Liquido:</strong>
  <%= @copenometro.liquido %>
</p>

<p>
  <strong>Ml:</strong>
  <%= @copenometro.ml %>
</p>

<p>
  <strong>Grado:</strong>
  <%= @copenometro.grado %>
</p>

<%= link_to 'Edit', edit_copenometro_path(@copenometro) %> |
<%= link_to 'Back', copenometros_path %>
